### Name Print(사이냅소프트)
1. How many are Kim and Lee?
2. How many times does the name "Lee Jae young" repeat?
3. Print the name without duplicates.
4. Sort out the names in ascending order by removing duplicates.

1. 이름에 각 첫번째 인덱스를 가져와서 카운트
2. 각 이름 가져와서 이재영 카운트
3. 중복제거
4. 중복제거 후 오름차순

In [ ]:
name_list = ['이유덕', '이재영', '권중표', '이재영', '박민호', '강상희', '이재영',
             '김지완', '최승혁', '이성연', '박영서', '박민호', '전경헌', '송정환',
             '김재성', '이유덕', '전경헌']

In [ ]:
#1
name_list[0][0]

'이'

In [ ]:
list = []

for i in range(len(name_list)):
    initial = name_list[i][0]
    list.append(initial)
    
print(list.count('김'))
print(list.count('이'))

2
6

In [12]:
#2
print(name_list.count('이재영'))

#3
print(set(name_list))

#4
print(sorted(set(name_list)))

3
{'이성연', '송정환', '이재영', '최승혁', '박민호', '전경헌', '김지완', '강상희', '김재성', '박영서', '권중표', '이유덕'}
['강상희', '권중표', '김재성', '김지완', '박민호', '박영서', '송정환', '이성연', '이유덕', '이재영', '전경헌', '최승혁']

### Duplicate numbers
* When inputting a number from 0 to 9, obtain a function that checks whether this input value is used only once each from 0 to 9.

---------------------------------
* 0부터 9까지 10개가 있는지 확인, 길이 확인
* sorted 함수 = 정렬과 동시에 string이 분리된다. = sorted(list(s))

In [13]:
sample = input("Enther the number : ")

Enther the number : 0123456789 01234 01234567890 6789012345 012322456789

In [16]:
sample.split()

['0123456789', '01234', '01234567890', '6789012345', '012322456789']

In [24]:
ss = sample.split()

for i in ss:
    sort_n = sorted(i)
    sort_n = ''.join(sort_n)
    if sort_n == "0123456789":
        print("True")
    else:
        print("False")

True
False
False
True
False

### Str_zip*
* Compresses a string by displaying the number of iterations if the same character is repeated consecutively

--------------------------------------
* 연속적으로 반복되는 횟수 출력, 그 문자를 앞에 1개 출력
* 첫문자와 끝문자가 다름을 이용

In [15]:
s = 'aaabbbccccccca'

result = s[0]
count = 0

for i in s:
    if i == result[-1]:
        count += 1
    else:
        result += str(count) + i
        count = 1
result += str(count)

print(result)

a3b3c7a1

----------------------
###### 연속적으로 나오는 것 말고 문자 횟수 카운트

* 다중리스트를 하나의 리스트로 만드는 방법

* 문자열 숫자열이 포함되어있을 때 join을 하기전 map함수를 사용.

In [114]:
a = 'aaabbbccccccca'
non_iter_a = list(set(a))

list_a = []

for i in non_iter_a:
    list_a.append([i, a.count(i)])

print(list_a)

[['a', 4], ['c', 7], ['b', 3]]

In [110]:
flatten = []
for x in list_a:
    for y in x:
        flatten.append(y)
        
print(flatten)

['a', 4, 'c', 7, 'b', 3]

In [112]:
''.join(map(str, flatten))

'a4c7b3'

### 3n+1 Problem
* It starts at some integer n. If n is even, divide by 2, if odd, multiply by 3 and add 1. This sets the newly created number to n, and repaets the same operation until n=1.
* When the value of n is entered, the number(including 1) of numbers created until 1 is called n cycle length. 
* Find the maximum cycle length for all numbers(including i and j) between i and j.

In [14]:
def cycle(n):
    result = [n]

    while n > 1:
        if n % 2 == 0:
            n = n / 2
        else:
            n = n * 3 + 1

        result.append(round(n))

    return result

In [72]:
i = 1
j = 10

def result_cyc(i, j):
    list_range = []

    for k in range(i, j+1):
        list_range.append(len(cycle(k)))

    return max(list_range)

In [73]:
import pandas as pd

data = pd.DataFrame({'i':[1, 100, 201, 900], 'j':[10, 200, 210, 1000]})
data

     i     j
0    1    10
1  100   200
2  201   210
3  900  1000

In [76]:
cyc_list = []

for k in range(data.shape[0]):
    result = result_cyc(data['i'][k], data['j'][k])
    cyc_list.append(result) 
    
cyc_list

[20, 125, 89, 174]

In [78]:
data['result'] = cyc_list
data

     i     j  result
0    1    10      20
1  100   200     125
2  201   210      89
3  900  1000     174

### 3_Second
* What is the total number of seconds that a digital clock displays 3time in the day(00:00 ~ 23:59)?

In [113]:
sec = 0

for h in range(24):
    for m in range(60):
        if '3' in str(h) or '3' in str(m):
            sec += 60
            
print(sec)

29700

-------------------
* 3이 들어가는 시간, 분을 초로 변환

In [121]:
hour_sec = 0
min_sec = 0

for h in range(24):
    if '3' in str(h):
        hour_sec += h*60*60
    
for m in range(60):
    if '3' in str(m):
        min_sec += m*60
            
hour_sec + min_sec

169200

### 10_n_Transfer***
* Write a progoram that converts Binary number, Octal number, Hexadecimal(16) to decimal numbers(10).

n으로 수를 나눠가며 나오는 나머지 값들을 반환, divmod를 사용해보자

0~9, A~F까지

--------
함수안에 함수를 사용한 리턴이 사용가능하다??
모르것다

In [4]:
def Trans_number(num, div):
    Text = "0123456789ABCDEF"
    
    quotient, remainder = divmod(num, div)
    
    if quotient == 0:
        return Text[remainder]
    else:
        return Trans_number(quotient, div) + Text[remainder]

In [3]:
print(Trans_number(233, 2))
print(Trans_number(233, 8))
print(Trans_number(233, 16))

11101001
351
E9

### Pothole_case
* Add _ before the number, change upper case to lower case and add _ before

In [128]:
def pothole(name):
    trf = ''
    
    for i in name:
        if i.isupper():
            i = '_' + i.lower()
        elif i.isdigit():
            i = '_' + i
            
        trf += i
    return trf

In [129]:
print(pothole('codingDojang'))
print(pothole('numGoat30'))

coding_dojang
num_goat_3_0

### Printing OXs
    n = 6 =>
    ooooox
    ooooxx
    oooxxx
    ooxxxx
    oxxxxx
    xxxxxx

In [134]:
n = 6

for i in range(n+1):
    print('O'*(n-i) + 'X'*(i))

OOOOOO
OOOOOX
OOOOXX
OOOXXX
OOXXXX
OXXXXX
XXXXXX

### Fibonacci
* A Fibonacci sequence is a sequence of values where the first term is 0 and the second term is 1, and the following terms are the sum of the previous two terms.

In [135]:
input_n = int(input("Enter the number : "))

Enter the number : 10

In [137]:
initial_result = [0, 1]

for i in range(input_n):
    initial_result.append(initial_result[i] + initial_result[i+1])
    
print(initial_result)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]