### Memory_dynamic
1. 입력할 정수의 개수를 입력 받는다.
2. 그 정수만큼 입력 받는다.
3. 정수의 합과 평균 출력
4. 할당된 메모리 비우기


- 메모리 공간은 사용자의 입력 수의 따라 변동
- 사용한 공간은 마지막에 비운다
- 배열을 사용하지 마라

In [1]:
n = int(input("Enter the number : "))

Enter the number : 45

In [2]:
import numpy as np

n_n = np.random.randint(0, 100, n)

In [3]:
sum = 0
for i in n_n:
    sum += i
    
m = sum/len(n_n)

print(sum, m)

del n, n_n, i, sum, m

2317 51.48888888888889

### Amazon_prob

* 배열의 형태 바꾸기

extend 사용

In [4]:
l = ['a1','a2','a3','a4','a10','a11','b1','b2','b3','b4','b10','b11']

In [5]:
l1 = l[:int(len(l)/2)]
l2 = l[int(len(l)/2):]

In [6]:
result = []

for i1, i2 in zip(l1, l2):
    result.extend([i1, i2])
    
print(result)

['a1', 'b1', 'a2', 'b2', 'a3', 'b3', 'a4', 'b4', 'a10', 'b10', 'a11', 'b11']

### Same_front_end***

* 바로 쓴 수 = 거꾸로 쓴 수, 이중에서 0 이상의 앞뒤가 같은 수를 크기 순으로 나열 할 때, n 번째 수 계산.

In [9]:
# 앞뒤가 같은 수 집합 만들기
same = []

for i in range(10000):
    i = str(i)
    if i == i[::-1]:
        same.append(int(i))
        
print(same)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 11, 22, 33, 44, 55, 66, 77, 88, 99, 101, 111, 121, 131, 141, 151, 161, 171, 181, 191, 202, 212, 222, 232, 242, 252, 262, 272, 282, 292, 303, 313, 323, 333, 343, 353, 363, 373, 383, 393, 404, 414, 424, 434, 444, 454, 464, 474, 484, 494, 505, 515, 525, 535, 545, 555, 565, 575, 585, 595, 606, 616, 626, 636, 646, 656, 666, 676, 686, 696, 707, 717, 727, 737, 747, 757, 767, 777, 787, 797, 808, 818, 828, 838, 848, 858, 868, 878, 888, 898, 909, 919, 929, 939, 949, 959, 969, 979, 989, 999, 1001, 1111, 1221, 1331, 1441, 1551, 1661, 1771, 1881, 1991, 2002, 2112, 2222, 2332, 2442, 2552, 2662, 2772, 2882, 2992, 3003, 3113, 3223, 3333, 3443, 3553, 3663, 3773, 3883, 3993, 4004, 4114, 4224, 4334, 4444, 4554, 4664, 4774, 4884, 4994, 5005, 5115, 5225, 5335, 5445, 5555, 5665, 5775, 5885, 5995, 6006, 6116, 6226, 6336, 6446, 6556, 6666, 6776, 6886, 6996, 7007, 7117, 7227, 7337, 7447, 7557, 7667, 7777, 7887, 7997, 8008, 8118, 8228, 8338, 8448, 8558, 8668, 8778, 8888, 8998, 9009, 9119, 9229, 9339, 9449, 9559, 9669, 9779, 9889, 9999]

In [14]:
# 입력 n번째 수는 무엇인가???
n = 30
same[n-1]

202

----------------------------------------
* 위는 100000000 부터는 기다릴 수 있는 속도가 아님


1. 자리수의 앞뒤가 같은수를 만드는 함수 bar를 만들어 연산
2. getPalindromes : l길이의 해당 수들의 집합을 구한다.

In [24]:
def bar(n):
    pLen = 1
    lenTotal = 0
    
    while lenTotal < n:
        palindromes = getpalindromes(pLen)
        lenTotal += len(palindromes)
        pLen += 1
        
    print(palindromes[n-1-lenTotal])

In [25]:
def getpalindromes(l):
    palindromes = []
    
    if l == 1:
        for i in range(10):
            palindromes.append(i)
            
    # 길이가 l 인 것중에 2로 나누어 떨어지면 아래 범위를 사용해 그대로와 거꾸로는 붙임.
    elif l % 2 == 0:
        halfLen = l // 2
        for i in range(10 ** (halfLen-1), 10 ** halfLen):
            palindromes.append(int(str(i) + str(i)[::-1]))
            
    # 2로 나누어 떨어지지 않으면 중간에 숫자 추가.
    else:
        halfLen = (l-1) // 2
        for i in range(0, 10):
            for j in range(10 ** (halfLen-1), 10 ** halfLen):
                palindromes.append(int(str(j) + str(i) + str(j)[::-1]))
                
    palindromes.sort()
    return palindromes

In [26]:
bar(1)
bar(4)
bar(30)
bar(100)
bar(30000)
bar(1000000)

0
3
202
909
200000002
90000000009

### Ones
* 2, 5로 나눌 수 없는 0~10000 정수 n이 주어질 때
* n의 배수 중에서 모든 자리 숫자가 1인 것이 있다. 그러한 n의 배수 중 가장 작은 것은 몇자리 수?

In [6]:
def Ones(number):
    b = '1'
    while int(b) % number != 0:
        b += '1'

    return print(len(b), b)

In [8]:
Ones(3)
Ones(7)
Ones(9901)

3 111
6 111111
12 111111111111

### Zero_count_back*
* N 팩토리얼로 나온 수의 뒤에서 부터 연속되는 0의 갯수를 구하라.

---------------------------
* yield라는 generater를 사용해서 추출한 내용들을 iterater로써 저장이 되어 그 후 for를 사용해 보면 해당 함수에 저장된 yield들이 반복된다.

In [10]:
def Factorial(n):
    mul = 1
    for i in range(1, n+1):
        mul *= i
    
    return mul

In [22]:
def Zero_Back_count(n):
    for i in str(Factorial(n))[::-1]:
        if i == '0':
            yield i
        else:
            break

In [28]:
def Zero(n):
    return print(len([x for x in Zero_Back_count(n)]))

In [29]:
Zero(12)
Zero(25)

2
6

----------------------------------
* lambda = def return
* takewhile = 첫 인자에 준 조건이 계속 추출 하고 조건이 맞으면 정지한다.

In [1]:
from itertools import takewhile
from math import factorial

In [6]:
rever_factorial = str(factorial(25))[::-1]
zero_result = takewhile(lambda x : x=='0', rever_factorial)
zero_result = list(zero_result)
print(zero_result)
print(len(zero_result))

['0', '0', '0', '0', '0', '0']
6

### Decimal_number**
* 2~1000 자연수의 집합에서 소수의 개수를 구하라

In [10]:
# 에라토스테네스의 체
def prime_list(n):
    sieve = [True] * n
    
    m = int(n ** 0.5)
    for i in range(2, m+1):
        if sieve[i] == True:
            for j in range(i+i, n, i):
                sieve[j] = False
            
    return [x for x in range(2, n) if sieve[x] == True]

In [13]:
import time
start_time = time.time()

print(len(prime_list(10000000)))

end_time = time.time() - start_time
print(end_time)

664579
2.0723354816436768

In [17]:
%time len(prime_list(10000000))

Wall time: 2.08 s

664579

### Comma_insert**
* 콤마가 포함된 문자열로 바꾸기

---------------------------
* 재귀함수 = 함수 안에서 함수를 사용.

In [22]:
def Comma(number):
    number = str(number)
    
    if number[0] == '-':
        return '-' + Comma(number[1:])
    if len(number) <= 3:
        return number
    if number.find('.') == -1:
        return Comma(number[:-3]) + ',' + number[-3:]
    else:
        return Comma(number[:number.find('.')]) + number[number.find('.'):]

In [23]:
print(Comma(1000))
print(Comma(20000000))
print(Comma(-3245.24))

1,000
20,000,000
-3,245.24

### Simple Balanced parentheses
* 정상적인 괄호를 판별하라, 괄호의 수도 같고, 짝수에, 양 2번째 끝 쪽까지 반대야 한다.

In [28]:
def Balanced(P):
    if len(P) % 2 == 0 and \
    P.count('(') == P.count(')') and \
    P[0] != P[-1] and P[1] != P[-2] and \
    P[0] == '(':
        return print(True)
    else:
        return print(False)

In [33]:
Balanced('(()()()())')
Balanced('(((())))')
Balanced('(()((())()))')
Balanced('((((((())')
Balanced('()))')
Balanced('(()()(()')
Balanced('(()))(')
Balanced('())(()')   # 실패
Balanced('()')
Balanced('()()')

True
True
True
False
False
False
False
True
True
True

--------------------------------------
* where을 사용해 해당 index값의 위치 파악
* 요소 별로 빼서 모두 음수면 True, 하나라도 양수가 있으면 False

In [1]:
import numpy as np

P = '())(()'
PP = np.array(list(P))

nn = np.where(PP=='(')
nn_r = np.where(PP==')')
print(nn)
print(nn_r)

(array([0, 3, 4], dtype=int64),)
(array([1, 2, 5], dtype=int64),)

In [2]:
if len(nn[0]) == len(nn_r[0]):
    result = nn[0] - nn_r[0]

list = []
for x in result:
    if x > 0:
        list.append(0)
    else:
        list.append(1)

all(list)

False

In [7]:
# error 해결 못함.............

def Balanced2(s):
    P = s
    PP = np.array(list(P))

    nn = np.where(PP=='(')
    nn_r = np.where(PP==')')

    if len(nn[0]) == len(nn_r[0]):
        result = nn[0] - nn_r[0]

    list = []
    for x in result:
        if x > 0:
            list.append(0)
        else:
            list.append(1)

    return all(list)

In [8]:
Balanced2('(()()()())')

UnboundLocalError: local variable 'list' referenced before assignment

-----------------------------------
* '('= 1, ')'= -1로 더해가며 0을 만든다.
* 중간에 음수가 되버리면 False 리턴

In [14]:
def isBalanced(s):
    n = 0
    
    for i in range(len(s)):
        if s[i] == '(':
            n += 1
        else:
            n += -1
        
        if n < 0:
            return print(False)
    
    if n == 0:
        return print(True)
    else:
        return print(False)

In [15]:
isBalanced('(()()()())')
isBalanced('(((())))')
isBalanced('(()((())()))')
isBalanced('((((((())')
isBalanced('()))')
isBalanced('(()()(()')
isBalanced('(()))(')
isBalanced('())(()')
isBalanced('()')
isBalanced('()()')

True
True
True
False
False
False
False
False
True
True

### Reverse_and_add
* 어떤 수를 받아 뒤집은 수와 원래 수를 더하는 과정을 진행
* 그 합이 회문(어느쪽으로 읽어도 같은 수)가 아니면 위 과정을 반복
* 대부분의 정수는 몇 단계만 반복하면 회문이 된다. 하지만 회문이 없다고 하는 수도 있다.


* 어떤 수가 주어져쓸 때 회문이 있으면 출력, 회문 찾기까지 더한 횟루를 출력하자
* 1000번 미만 반복, 회문은 4,294,967,295보다 크지 않다고 가정.

In [1]:
def Reverse(n):
    iter_num = 0
    
    while str(n) != str(n)[::-1]:
        n = str(n)
        reverse_n = n[::-1]
        n = int(n) + int(reverse_n)
        iter_num += 1
        
        if iter_num > 1000:
            break
        
        if n > 4294967295:
            break
            
    if str(n) == str(n)[::-1]:
        return iter_num, n
    else:
        return '1000 upper', 'No palindrome within 1000 cycle'

In [2]:
import numpy as np

N = 10
num_list = np.random.randint(1, 10000, N)

result = []
for i in num_list:
    result.append(Reverse(i))
    
print('Input : ', list(num_list))
print('Output : ', result)

Input :  [3920, 5640, 8197, 4379, 5441, 6840, 7105, 2602, 3442, 7219]
Output :  [(2, 7337), (3, 23232), (2, 67276), (2, 45254), (1, 6886), (4, 99099), (2, 34243), (1, 4664), (1, 5885), (4, 665566)]

In [5]:
import pandas as pd

data = pd.DataFrame(result, index=num_list, columns=['iteration_number', 'Palindrome'])
data

      iteration_number  Palindrome
3920                 2        7337
5640                 3       23232
8197                 2       67276
4379                 2       45254
5441                 1        6886
6840                 4       99099
7105                 2       34243
2602                 1        4664
3442                 1        5885
7219                 4      665566